<div class="container">
  <div class="row">
    <h3>Users</h3>
    <span style="float:right"><%= link_to 'Add New User', new_user_path %></span>
    <div class="column">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
