<h1>Editing Bright Cove Recommendation</h1>

<%= render 'form', bright_cove_recommendation: @bright_cove_recommendation %>

<%= link_to 'Show', @bright_cove_recommendation %> |
<%= link_to 'Back', bright_cove_recommendations_path %>
